absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
altgraph==0.17.4
annotated-types==0.7.0
anthropic==0.71.0
anyio==4.9.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
attrs==25.3.0
babel==2.17.0
backoff==2.2.1
bcrypt==5.0.0
beautifulsoup4==4.13.3
black==25.9.0
bleach==6.2.0
blinker==1.9.0
boto==2.49.0
bottle==0.13.4
build==1.3.0
cabarchive==0.2.4
cachetools==5.5.2
certifi==2024.6.2
cffi==2.0.0
charset-normalizer==3.3.2
chromadb==1.1.0
click==8.2.1
clr_loader==0.2.7.post0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.2.1
coverage==7.10.7
cryptography==45.0.3
cx_Freeze==8.2.0
cx_Logging==3.2.1
cycler==0.12.1
dataclasses-json==0.6.7
datasets==4.4.1
debugpy==1.8.13
decorator==5.2.1
defusedxml==0.7.1
dill==0.4.0
distro==1.9.0
docstring_parser==0.17.0
dotenv==0.9.9
durationpy==0.10
easyocr==1.7.2
editdistance==0.8.1
efficientnet==1.0.0
einops==0.8.1
essential-generators==1.0
et_xmlfile==2.0.0
executing==2.2.0
fastjsonschema==2.21.1
fastuuid==0.13.5
filelock==3.18.0
Flask==3.1.2
flask-cors==6.0.1
flatbuffers==25.2.10
fonttools==4.53.0
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2025.3.0
gast==0.6.0
gensim==4.3.3
gepa==0.0.17
gitdb==4.0.12
GitPython==3.1.44
googleapis-common-protos==1.70.0
google-auth==2.40.3
google-genai==1.38.0
google-pasta==0.2.0
greenlet==3.2.4
grpcio==1.74.0
h11==0.14.0
h5py==3.14.0
hf-xet==1.1.7
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.34.4
humanfriendly==10.0
hypothesis==6.142.4
idna==3.7
imageio==2.37.0
imgaug==0.4.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==2.1.0
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.11.0
joblib==1.5.1
json5==0.10.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyterlab==4.4.1
jupyterlab_git==0.51.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_server==2.15.0
jupyter-server-mathjax==0.2.6
jupyter_server_terminals==0.5.3
keras==3.11.2
Keras-Applications==1.0.8
keras-ocr==0.9.3
kiwisolver==1.4.5
kubernetes==34.1.0
langchain==0.3.27
langchain-community==0.3.30
langchain-core==0.3.76
langchain-openai==0.3.33
langchain-text-splitters==0.3.11
langsmith==0.4.31
lazy_loader==0.4
libclang==18.1.1
lief==0.16.5
litellm==1.78.0
llvmlite==0.43.0
Markdown==3.8.2
markdown-it-py==4.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.6
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.2
ml_dtypes==0.5.3
mmh3==5.2.0
mpmath==1.3.0
multidict==6.6.4
multiprocess==0.70.18
mypy_extensions==1.1.0
namex==0.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbdime==4.0.2
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.13.0
nltk==3.9.1
notebook_shim==0.2.4
Nuitka==2.7
numba==0.60.0
numpy==2.2.6
oauthlib==3.3.1
onnxruntime==1.23.0
openai==1.108.1
opencv-python==4.11.0.86
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
opentelemetry-api==1.37.0
opentelemetry-exporter-otlp-proto-common==1.37.0
opentelemetry-exporter-otlp-proto-grpc==1.37.0
opentelemetry-proto==1.37.0
opentelemetry-sdk==1.37.0
opentelemetry-semantic-conventions==0.58b0
optree==0.17.0
opt_einsum==3.4.0
ordered-set==4.1.0
orjson==3.11.3
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
pefile==2023.2.7
pexpect==4.9.0
pillow==10.3.0
pip==25.2
platformdirs==4.3.6
pluggy==1.6.0
posthog==5.4.0
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.3.2
protobuf==6.31.1
proxy_tools==0.1.0
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.2
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.11.9
pydantic_core==2.33.2
pydantic-settings==2.11.0
pygame==2.6.1
Pygments==2.19.1
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.3
pynput==1.8.1
pyparsing==3.1.2
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pyspellchecker==0.8.3
pytesseract==0.3.13
pytest==8.4.2
pytest-asyncio==1.2.0
pytest-cov==4.1.0
pytest-html==4.1.1
pytest-metadata==3.1.1
pythonnet==3.0.5
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==3.3.0
pytokens==0.1.10
pytz==2024.1
pywebview==6.0
pywin32==310
pywin32-ctypes==0.2.3
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq==26.3.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.1.0
rpds-py==0.23.1
rsa==4.9.1
ruff==0.14.0
safetensors==0.6.2
scikit-image==0.25.2
scikit-learn==1.7.1
scipy==1.13.1
seaborn==0.13.2
Send2Trash==1.8.3
sentencepiece==0.2.1
sentence-transformers==5.1.1
sentry-sdk==2.41.0
setuptools==70.1.0
shapely==2.1.1
shellingham==1.5.4
six==1.16.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.6
SQLAlchemy==2.0.43
stack-data==0.6.3
striprtf==0.0.29
sympy==1.13.1
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
terminado==0.18.1
tf_keras==2.20.1
threadpoolctl==3.6.0
tifffile==2025.6.11
tiktoken==0.11.0
tinycss2==1.4.0
tinydb==4.8.2
tokenizers==0.21.4
torch==2.6.0
torchvision==0.21.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.55.2
tree-sitter==0.21.3
tree-sitter-java==0.23.5
tree-sitter-languages==1.10.2
typer==0.19.2
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
typing-inspect==0.9.0
typing-inspection==0.4.1
tzdata==2024.1
uri-template==1.3.0
urllib3==2.2.2
uv==0.8.13
uvicorn==0.37.0
validators==0.35.0
wandb==0.22.2
watchfiles==1.1.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websockets==15.0.1
websocket-client==1.8.0
Werkzeug==3.1.3
wfdb==4.1.2
wheel==0.43.0
wrapt==1.17.2
xxhash==3.6.0
yarl==1.20.1
z3==0.2.0
z3-solver==4.15.3.0
zipp==3.23.0
zstandard==0.23.0
